body {
    background-color: aquamarine;
    color: aqua;
    /* background-image: url(https://miro.medium.com/max/12164/0*22vFnZtZqhS4Apa8); */
    background-image: url();
    background-image: url(https://i.redd.it/8u1039f6w0201.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
    padding-bottom: 40px;
}

.fixed-header {
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header {
    top: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
nava {
    color: #fff;
    padding: 7px 25px;
    display: inline-block;
}