body {
    color: rgb(45, 46, 46);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
    padding-bottom: 40px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    width: 100%;
    height: 100vh;
    background: url(https://wallpaperaccess.com/full/487824.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: rgb(46, 45, 45);
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: rgb(46, 45, 45);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

li:hover, li:active, li:focus{
    transform: translateY(-2px);
    cursor: pointer;
  }
  li:hover:before, li:active:before, li:focus:before{
    opacity: 1;
    transform: translateY(-2px);
    cursor: pointer;
  }

a:link {
    text-decoration: none;
    color: rgb(46, 45, 45);
}
a:visited {
    text-decoration: none;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: rgb(46, 45, 45);
    }

    nav.black ul {
          background: rgb(46, 45, 45);
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}


.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
  }
.wrapper div {
    margin-left: 20px;
    margin-right: 20px;
}
.one {
    grid-column: 1;
    grid-row: 1;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 25px;
}
.two {
    grid-column: 2;
    grid-row: 1;
    margin-top: 60px;
    margin-bottom: 60px;
}
.three {
    grid-column: 1;
    grid-row: 2;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 25px;
}
.four {
    grid-column: 2;
    grid-row: 2;
    margin-top: 60px;
    margin-bottom: 60px;
}
.five {
    grid-column: 1;
    grid-row: 3;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 25px;
}
.six {
    grid-column: 2;
    grid-row: 3;
    margin-top: 60px;
    margin-bottom: 60px;
}
.seven {
    grid-column: 1;
    grid-row: 4;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 25px;
}
.eight {
    grid-column: 2;
    grid-row: 4;
    margin-top: 60px;
    margin-bottom: 60px;
}
.nine {
    grid-column: 1;
    grid-row: 5;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 25px;
}
.ten {
    grid-column: 2;
    grid-row: 5;
    margin-top: 60px;
    margin-bottom: 60px;
}
.eleven {
    grid-column: 1;
    grid-row: 6;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 25px;
}
.twelve {
    grid-column: 2;
    grid-row: 6;
    margin-top: 60px;
    margin-bottom: 60px;
}

.hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.work-icons {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 60px;
}
.icons {
    margin-top: 20px;
    padding-top: 20px;
    margin: 20px;
    padding: 20px;
}
.contact {
    text-align: center;
}

.languages {
    padding-top: 400px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.bio {
    color: rgb(46, 45, 45);
    text-align: center;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.about {
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(46, 45, 45);
}
.about-bio {
    margin: 50px;
    margin-top: 50px;
}